.title_ {
        background: linear-gradient(to left,
          #e0fae6, #deeff9, #dcf7f9, #daf7f8, #d8f6f8,
          #d6f5f7, #d4f4f7, #d2f3f6, #d0f2f6, #cef1f5,
          #ccf0f5, #caf0f4, #c8eff4, #c6eef3, #c4edf3,
          #c2ecf2, #c0ebf2, #beebf1, #bceaf1, #bae9f0,
          #b8e8f0, #b6e7ef, #b4e6ef, #b2e6ee, #b0e5ee,
          #aee4ed, #ace3ed, #aae2ec, #a8e1ec, #a6e1eb,
          #a4e0eb, #a2dfea, #a0dfea, #9edef9, #9cddf9,
          #9adcf8, #98dbf8, #96dbf7, #94daf7, #92d9f6,
          #90d8f6, #8ed7f5, #8cd6f5, #8ad6f4, #88d5f4,
          #86d4f3, #84d3f3, #82d2f2, #80d1f2, #7ed1f1,
          #7cd0f1, #7acff0, #78cef0, #76cdef, #74cdef,
          #72ccee, #70cbee, #6ecbed, #6ccaed, #6ac9ed,
          #68c9ec, #66c8ec, #64c7eb, #62c6eb, #60c5ea,
          #5ec4ea, #5cc4e9, #5ac3e9, #58c2e8, #56c1e8,
          #54c0e7, #52bfe7, #50bfe6, #4ebee6, #4cbde5,
          #4abce5, #48bbe4, #46bae4, #44bae3, #42b9e3,
          #40b8e2, #3eb7e2, #3cb6e1, #3ab5e1, #38b5e0,
          #36b4e0, #34b3df, #32b2df, #30b1de, #2eb0de,
          #2cb0dd, #2aafdd, #28aedc, #26addc, #24acdb,
          #22abdb, #20aada, #1ea9da, #1ca8d9, #1aa7d9,
          #18a7d8, #16a6d8, #1495d7, #1294d7, #1093d6,
          #0e92d6, #0c91d5, #0a90d5, #088fd4, #068ed4,
          #048ed3, #028dd3, #008cd2, #008bd2, #008ad1);
    }
      

  
.dark{
    color: white;
    background-color: #9fadbc;
  }

  .Proveedor{
    font-family: 'Gilroy';
  }


  .fa-chevron-up {
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 35px;
  height: 45px;
}

.rotate-down, .rotate-up {
    transition: transform 0.5s;
}

.rotate-down {
    transform: rotate(0deg);
}

.rotate-up {
    transform: rotate(180deg);
}

.orden_Info {
    max-height: 0;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    transition: max-height 0.5s;
}

.orden_Info.active {
    max-height: 1000px; /* Ajusta la altura según sea necesario */
    margin: 5px;
    padding: 5px;
}
