<app-nuevo-orden
[nueva]="nueva"
[Orden]="Orden"
(onCloseModal)="cerrar()"
(onChangeProv)="reset()">

</app-nuevo-orden>
<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                  <h1 class="title blancas">
                    Órdenes de compra
                  </h1>
                  <h2 class="subtitle description blancas">
                    Descripción
                  </h2>
                </div>
            </div>
            <br>
            <button class="button is-info" (click)="nueva_orden()">
                <span class="icon"><i class="fas fa-plus-circle"></i></span>
                <span>Orden</span>
            </button>
            <br> <br>
            <ng-container *ngFor="let orden of ordenes.orden;index as i">
                <div class="card animate__animated animate__fadeInUp" >
                    <div class="card-header dark">
                        <p class="card-header-title">
                            {{orden.proveedor.nombre}} - <span class="Proveedor"> OC:{{addSlice(orden.numero)}}</span> 
                                 <i class="fas fa-download blue_" style="cursor: pointer;" (click)="DescargarPDF(orden)"></i>
                        </p>
                        <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info(i)" [ngClass]="{'rotate-down': ORDEN[i], 'rotate-up': !ORDEN[i]}"></i>
                    </div>
                    <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[i]}">
                        <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[i]}">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Código</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Base Imp.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let material of orden.pedido">
                                    <td>{{material.material.nombre}} ({{material.material.fabricante.alias}})</td>
                                    <td>{{material.material.modelo}}</td>
                                    <td>{{material.cantidad}}{{material.unidad}}</td>
                                    <td>{{material.precio}}</td>
                                    <td>{{ material.precio * material.cantidad | number: '1.2-2' }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Sub-Total</th>
                                    <th>{{calcularTotalNeto(orden).toFixed(2)}}</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>I.V.A</th>
                                    <th>{{calcularTotalIva(orden).toFixed(2)}}</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Neto</th>
                                    <th>{{(calcularTotalNeto(orden) + calcularTotalIva(orden)).toFixed(2) | number: '1.2-2'}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <br>
            </ng-container>

        </div>
    </div>
</div>