.title_ {
        background: linear-gradient(to left,
          #e0fae6, #deeff9, #dcf7f9, #daf7f8, #d8f6f8,
          #d6f5f7, #d4f4f7, #d2f3f6, #d0f2f6, #cef1f5,
          #ccf0f5, #caf0f4, #c8eff4, #c6eef3, #c4edf3,
          #c2ecf2, #c0ebf2, #beebf1, #bceaf1, #bae9f0,
          #b8e8f0, #b6e7ef, #b4e6ef, #b2e6ee, #b0e5ee,
          #aee4ed, #ace3ed, #aae2ec, #a8e1ec, #a6e1eb,
          #a4e0eb, #a2dfea, #a0dfea, #9edef9, #9cddf9,
          #9adcf8, #98dbf8, #96dbf7, #94daf7, #92d9f6,
          #90d8f6, #8ed7f5, #8cd6f5, #8ad6f4, #88d5f4,
          #86d4f3, #84d3f3, #82d2f2, #80d1f2, #7ed1f1,
          #7cd0f1, #7acff0, #78cef0, #76cdef, #74cdef,
          #72ccee, #70cbee, #6ecbed, #6ccaed, #6ac9ed,
          #68c9ec, #66c8ec, #64c7eb, #62c6eb, #60c5ea,
          #5ec4ea, #5cc4e9, #5ac3e9, #58c2e8, #56c1e8,
          #54c0e7, #52bfe7, #50bfe6, #4ebee6, #4cbde5,
          #4abce5, #48bbe4, #46bae4, #44bae3, #42b9e3,
          #40b8e2, #3eb7e2, #3cb6e1, #3ab5e1, #38b5e0,
          #36b4e0, #34b3df, #32b2df, #30b1de, #2eb0de,
          #2cb0dd, #2aafdd, #28aedc, #26addc, #24acdb,
          #22abdb, #20aada, #1ea9da, #1ca8d9, #1aa7d9,
          #18a7d8, #16a6d8, #1495d7, #1294d7, #1093d6,
          #0e92d6, #0c91d5, #0a90d5, #088fd4, #068ed4,
          #048ed3, #028dd3, #008cd2, #008bd2, #008ad1);
    }
      

  
.dark{
    color: white;
    background-color: #9fadbc;
  }

  .Proveedor{
    font-family: 'Gilroy';
  }


  .fa-chevron-up {
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 35px;
  height: 45px;
}

.rotate-down, .rotate-up {
    transition: transform 0.5s;
}

.rotate-down {
    transform: rotate(0deg);
}

.rotate-up {
    transform: rotate(180deg);
}

.orden_Info {
    max-height: 0;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    transition: max-height 0.5s;
}

.orden_Info.active {
    max-height: 1000px; /* Ajusta la altura según sea necesario */
    margin: 5px;
    padding: 5px;
}




.dark{
  color: white;
  background-color: #9fadbc;
}

.especificacion{
  background-color: #d5234d;
}
.analisis{
  background-color: #c01a3f;
}

.iconos{
  position: absolute;
  right: 45px;
  top : -15px;
}

.iconos i {
  font-size: 130px;
  transform: rotate(30deg);
  top: -150px;
  color: rgba(255, 255, 255, 0.50);
}

.tags{
  overflow: hidden;
}

.card .card-content .ty{
  overflow: hidden;
}

.card .card-content .orange{
  background: rgb(245,152,28);
background: linear-gradient(90deg, rgba(245,152,28,1) 25%, rgba(255,184,88,1) 100%);
color: white;
width: 100%;
}
.card .card-content .green__{
  background: rgb(8,172,38);
  background: linear-gradient(90deg, rgba(8,172,38,1) 15%, rgba(44,255,82,1) 100%);
color:white;
width: 100%;
}

.blue___{
  background: rgb(0,56,255);
  background: linear-gradient(90deg, rgba(0,56,255,1) 0%, rgba(117,180,255,1) 100%);
  color: white;
  height: 100px;
  overflow: hidden;
  width: 100%;
  
}

.position_{
  position: absolute;
  margin-bottom: -30px;
}


.position__{
  position: absolute;
  margin-bottom: 20px;
}



.waves {
  position: relative;
  width: 500px;
  height: 50px;
  margin-bottom: -65px;
  margin-left: -20px;
  min-height: 50px;
  max-height: 100px
}

.waves.no-animation .moving-waves>use {
  animation: none
}

.wave-rotate {
  transform: rotate(180deg)
}

.moving-waves>use {
  animation: f 40s cubic-bezier(.55,.5,.45,.5) infinite
}

.moving-waves>use:first-child {
  animation-delay: -2s;
  animation-duration: 11s
}

.moving-waves>use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s
}

.moving-waves>use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s
}

.moving-waves>use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s
}

.moving-waves>use:nth-child(5) {
  animation-delay: -4s;
  animation-duration: 25s
}

.moving-waves>use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s
}

@keyframes f {
  0% {
      transform: translate3d(-90px,0,0)
  }

  to {
      transform: translate3d(85px,0,0)
  }
}

.h-310{
  height: 335px;
  overflow-y: scroll;
}
.number_{
  position: absolute;
  font-size: 35px;
  font-family: 'Gilroy';
  margin-top: 10px;
}

.fina{
  position: absolute;
  font-size: 10px;
  margin-top: 15px;
}
.gruesa{
  font-size: 20px;
  font-family: 'Gilroy';
}

.Detalle{
  border-left: solid 1px white;
  font-size: 35px;
  padding-left: 15px;
}

.tag:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.subtitles{
  font-size: large;
}
.fechas{
  color: black;
}

.boton{
  display: block;
  margin-top: -7px;
}

.busqueda{
  position: absolute;
  margin-top: -7px;
  right: 50px;
}

.clientesName {
  display: flex;
  align-items: center;
  color: black;
}

.clientesName::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
  margin-left: 10px;
}

.fa-chevron-down {
  margin-left: 10px;
}

.rotate-down, .rotate-up {
  transition: transform 0.5s;
}

.rotate-down {
  transform: rotate(0deg);
}

.rotate-up {
  transform: rotate(180deg);
}

.clienteInfo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.clienteInfo.active {
  max-height: 1000px; /* Ajusta la altura según sea necesario */
}

.are-large{
  background-color: #3c3f41;
  padding: 20px;
  border-radius: 5px;
}

.fa-chevron-up {
  display: flex;
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
width: 35px;
height: 45px;
}

.rotate-down, .rotate-up {
  transition: transform 0.5s;
}

.rotate-down {
  transform: rotate(0deg);
}

.rotate-up {
  transform: rotate(180deg);
}

.orden_Info {
  max-height: 0;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  transition: max-height 0.5s;
}

.orden_Info.active {
  max-height: 1000px; /* Ajusta la altura según sea necesario */
  margin: 5px;
  padding: 5px;
}

.carta_espacio{
  margin-bottom: 15px;
}