<app-nuevo-grupo
[nuevo]="nuevo"
[editar]="editar"
[data]="data"
[api]="api"
[cargando]="cargando"
(onCloseModal)="cerrarModal()"
(onCloseModal_)="cerrarModal_()">
(onLoading)='cargando_()'
</app-nuevo-grupo>

<app-nuevo-material
[nuevo_material]="nuevo_material"
[cargando]="cargando"
(onCloseModal)="cerrarNuevoMaterial()"
(onCloseModal_)="cerrarModal_()"
>
</app-nuevo-material>

<app-materiales
[material_selected]="material_selected"
[material]="material"
(onCloseModal)="cerrarMateriales()"
>

</app-materiales>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-body">
      <div class="icon-container">
<div class='icon-button'><i class="fas fa-music"></i></div>
<div class='icon-button'><i class="fas fa-search"></i></div>
<div class='icon-button'><i class="fas fa-envelope-open"></i></div>
<div class='icon-button'><i class="fas fa-heart"></i></div>
<div class='icon-button'><i class="fas fa-star"></i></div>
<div class='icon-button'><i class="fas fa-star"></i></div>
<div class='icon-button'><i class="fas fa-user"></i></div>
<div class='icon-button'><i class="fas fa-film"></i></div>
<div class='icon-button'><i class="fas fa-th-large"></i></div>
<div class='icon-button'><i class="fas fa-th"></i></div>
<div class='icon-button'><i class="fas fa-th-list"></i></div>
<div class='icon-button'><i class="fas fa-check"></i></div>
<div class='icon-button'><i class="fas fa-times"></i></div>
<div class='icon-button'><i class="fas fa-search-plus"></i></div>
<div class='icon-button'><i class="fas fa-search-minus"></i></div>
<div class='icon-button'><i class="fas fa-power-off"></i></div>
<div class='icon-button'><i class="fas fa-signal"></i></div>
<div class='icon-button'><i class="fas fa-cog"></i></div>
<div class='icon-button'><i class="fas fa-trash"></i></div>
<div class='icon-button'><i class="fas fa-home"></i></div>
<div class='icon-button'><i class="fas fa-file"></i></div>
<div class='icon-button'><i class="fas fa-clock"></i></div>
<div class='icon-button'><i class="fas fa-road"></i></div>
<div class='icon-button'><i class="fas fa-download"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-o-down"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-o-up"></i></div>
<div class='icon-button'><i class="fas fa-inbox"></i></div>
<div class='icon-button'><i class="fas fa-play-circle"></i></div>
<div class='icon-button'><i class="fas fa-repeat"></i></div>
<div class='icon-button'><i class="fas fa-refresh"></i></div>
<div class='icon-button'><i class="fas fa-list-alt"></i></div>
<div class='icon-button'><i class="fas fa-lock"></i></div>
<div class='icon-button'><i class="fas fa-flag"></i></div>
<div class='icon-button'><i class="fas fa-headphones"></i></div>
<div class='icon-button'><i class="fas fa-volume-off"></i></div>
<div class='icon-button'><i class="fas fa-volume-down"></i></div>
<div class='icon-button'><i class="fas fa-volume-up"></i></div>
<div class='icon-button'><i class="fas fa-qrcode"></i></div>
<div class='icon-button'><i class="fas fa-barcode"></i></div>
<div class='icon-button'><i class="fas fa-tag"></i></div>
<div class='icon-button'><i class="fas fa-tags"></i></div>
<div class='icon-button'><i class="fas fa-book"></i></div>
<div class='icon-button'><i class="fas fa-bookmark"></i></div>
<div class='icon-button'><i class="fas fa-print"></i></div>
<div class='icon-button'><i class="fas fa-camera"></i></div>
<div class='icon-button'><i class="fas fa-font"></i></div>
<div class='icon-button'><i class="fas fa-bold"></i></div>
<div class='icon-button'><i class="fas fa-italic"></i></div>
<div class='icon-button'><i class="fas fa-text-height"></i></div>
<div class='icon-button'><i class="fas fa-text_width"></i></div>
<div class='icon-button'><i class="fas fa-align-left"></i></div>
<div class='icon-button'><i class="fas fa-align-center"></i></div>
<div class='icon-button'><i class="fas fa-align-right"></i></div>
<div class='icon-button'><i class="fas fa-align-justify"></i></div>
<div class='icon-button'><i class="fas fa-list"></i></div>
<div class='icon-button'><i class="fas fa-outdent"></i></div>
<div class='icon-button'><i class="fas fa-indent"></i></div>
<div class='icon-button'><i class="fas fa-video-camera"></i></div>
<div class='icon-button'><i class="fas fa-picture"></i></div>
<div class='icon-button'><i class="fas fa-pencil"></i></div>
<div class='icon-button'><i class="fas fa-map-marker"></i></div>
<div class='icon-button'><i class="fas fa-adjust"></i></div>
<div class='icon-button'><i class="fas fa-tint"></i></div>
<div class='icon-button'><i class="fas fa-pencil-square"></i></div>
<div class='icon-button'><i class="fas fa-share-square"></i></div>
<div class='icon-button'><i class="fas fa-check-square"></i></div>
<div class='icon-button'><i class="fas fa-arrows"></i></div>
<div class='icon-button'><i class="fas fa-step-backward"></i></div>
<div class='icon-button'><i class="fas fa-fast-backward"></i></div>
<div class='icon-button'><i class="fas fa-backward"></i></div>
<div class='icon-button'><i class="fas fa-play"></i></div>
<div class='icon-button'><i class="fas fa-pause"></i></div>
<div class='icon-button'><i class="fas fa-stop"></i></div>
<div class='icon-button'><i class="fas fa-forward"></i></div>
<div class='icon-button'><i class="fas fa-fast-foward"></i></div>
<div class='icon-button'><i class="fas fa-step-forward"></i></div>
<div class='icon-button'><i class="fas fa-eject"></i></div>
<div class='icon-button'><i class="fas fa-chevron-left"></i></div>
<div class='icon-button'><i class="fas fa-chevron-right"></i></div>
<div class='icon-button'><i class="fas fa-plus-circle"></i></div>
<div class='icon-button'><i class="fas fa-minus-circle"></i></div>
<div class='icon-button'><i class="fas fa-times-circle"></i></div>
<div class='icon-button'><i class="fas fa-check-circle"></i></div>
<div class='icon-button'><i class="fas fa-question-circle"></i></div>
<div class='icon-button'><i class="fas fa-info-circle"></i></div>
<div class='icon-button'><i class="fas fa-crosshairs"></i></div>
<div class='icon-button'><i class="fas fa-times-circle"></i></div>
<div class='icon-button'><i class="fas fa-check-circle"></i></div>
<div class='icon-button'><i class="fas fa-ban"></i></div>
<div class='icon-button'><i class="fas fa-arrow-left"></i></div>
<div class='icon-button'><i class="fas fa-arrow-right"></i></div>
<div class='icon-button'><i class="fas fa-arrow-up"></i></div>
<div class='icon-button'><i class="fas fa-arrow-down"></i></div>
<div class='icon-button'><i class="fas fa-share"></i></div>
<div class='icon-button'><i class="fas fa-expand"></i></div>
<div class='icon-button'><i class="fas fa-compress"></i></div>
<div class='icon-button'><i class="fas fa-plus"></i></div>
<div class='icon-button'><i class="fas fa-minus"></i></div>
<div class='icon-button'><i class="fas fa-asterisk"></i></div>
<div class='icon-button'><i class="fas fa-exclamation-circle"></i></div>
<div class='icon-button'><i class="fas fa-gift"></i></div>
<div class='icon-button'><i class="fas fa-leaf"></i></div>
<div class='icon-button'><i class="fas fa-fire"></i></div>
<div class='icon-button'><i class="fas fa-eye"></i></div>
<div class='icon-button'><i class="fas fa-eye-slash"></i></div>
<div class='icon-button'><i class="fas fa-exclamation-triangle"></i></div>
<div class='icon-button'><i class="fas fa-plane"></i></div>
<div class='icon-button'><i class="fas fa-calendar"></i></div>
<div class='icon-button'><i class="fas fa-random"></i></div>
<div class='icon-button'><i class="fas fa-comment"></i></div>
<div class='icon-button'><i class="fas fa-magnet"></i></div>
<div class='icon-button'><i class="fas fa-chevron-up"></i></div>
<div class='icon-button'><i class="fas fa-chevron-down"></i></div>
<div class='icon-button'><i class="fas fa-retweet"></i></div>
<div class='icon-button'><i class="fas fa-shopping-cart"></i></div>
<div class='icon-button'><i class="fas fa-folder"></i></div>
<div class='icon-button'><i class="fas fa-folder-open"></i></div>
<div class='icon-button'><i class="fas fa-arrows-v"></i></div>
<div class='icon-button'><i class="fas fa-arrows-h"></i></div>
<div class='icon-button'><i class="fas fa-bar-chart"></i></div>
<div class='icon-button'><i class="fas fa-twitter-square"></i></div>
<div class='icon-button'><i class="fas fa-facebook-square"></i></div>
<div class='icon-button'><i class="fas fa-camera-retro"></i></div>
<div class='icon-button'><i class="fas fa-key"></i></div>
<div class='icon-button'><i class="fas fa-cogs"></i></div>
<div class='icon-button'><i class="fas fa-comments"></i></div>
<div class='icon-button'><i class="fas fa-thumbs-o-up"></i></div>
<div class='icon-button'><i class="fas fa-thumbs-o-down"></i></div>
<div class='icon-button'><i class="fas fa-star-half"></i></div>
<div class='icon-button'><i class="fas fa-heart"></i></div>
<div class='icon-button'><i class="fas fa-sign-out"></i></div>
<div class='icon-button'><i class="fas fa-linkedin-square"></i></div>
<div class='icon-button'><i class="fas fa-thumb-tack"></i></div>
<div class='icon-button'><i class="fas fa-external-link"></i></div>
<div class='icon-button'><i class="fas fa-sign-in"></i></div>
<div class='icon-button'><i class="fas fa-trophy"></i></div>
<div class='icon-button'><i class="fas fa-github-square"></i></div>
<div class='icon-button'><i class="fas fa-upload"></i></div>
<div class='icon-button'><i class="fas fa-lemon"></i></div>
<div class='icon-button'><i class="fas fa-phone"></i></div>
<div class='icon-button'><i class="fas fa-square"></i></div>
<div class='icon-button'><i class="fas fa-bookmark"></i></div>
<div class='icon-button'><i class="fas fa-phone-square"></i></div>
<div class='icon-button'><i class="fas fa-twitter"></i></div>
<div class='icon-button'><i class="fas fa-facebook"></i></div>
<div class='icon-button'><i class="fas fa-github"></i></div>
<div class='icon-button'><i class="fas fa-unlock"></i></div>
<div class='icon-button'><i class="fas fa-credit-card"></i></div>
<div class='icon-button'><i class="fas fa-rss"></i></div>
<div class='icon-button'><i class="fas fa-hdd"></i></div>
<div class='icon-button'><i class="fas fa-bullhorn"></i></div>
<div class='icon-button'><i class="fas fa-bell"></i></div>
<div class='icon-button'><i class="fas fa-certificate"></i></div>
<div class='icon-button'><i class="fas fa-hand-o-right"></i></div>
<div class='icon-button'><i class="fas fa-hand-o-left"></i></div>
<div class='icon-button'><i class="fas fa-hand-o-up"></i></div>
<div class='icon-button'><i class="fas fa-hand-o-down"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-left"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-right"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-up"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-down"></i></div>
<div class='icon-button'><i class="fas fa-globe"></i></div>
<div class='icon-button'><i class="fas fa-wrench"></i></div>
<div class='icon-button'><i class="fas fa-tasks"></i></div>
<div class='icon-button'><i class="fas fa-filter"></i></div>
<div class='icon-button'><i class="fas fa-briefcase"></i></div>
<div class='icon-button'><i class="fas fa-arrows-alt"></i></div>
<div class='icon-button'><i class="fas fa-users"></i></div>
<div class='icon-button'><i class="fas fa-link"></i></div>
<div class='icon-button'><i class="fas fa-cloud"></i></div>
<div class='icon-button'><i class="fas fa-flask"></i></div>
<div class='icon-button'><i class="fas fa-scissors"></i></div>
<div class='icon-button'><i class="fas fa-files"></i></div>
<div class='icon-button'><i class="fas fa-paperclip"></i></div>
<div class='icon-button'><i class="fas fa-floppy"></i></div>
<div class='icon-button'><i class="fas fa-square"></i></div>
<div class='icon-button'><i class="fas fa-bars"></i></div>
<div class='icon-button'><i class="fas fa-list-ul"></i></div>
<div class='icon-button'><i class="fas fa-list-ol"></i></div>
<div class='icon-button'><i class="fas fa-strikethrough"></i></div>
<div class='icon-button'><i class="fas fa-underline"></i></div>
<div class='icon-button'><i class="fas fa-table"></i></div>
<div class='icon-button'><i class="fas fa-magic"></i></div>
<div class='icon-button'><i class="fas fa-truck"></i></div>
<div class='icon-button'><i class="fas fa-pinterest"></i></div>
<div class='icon-button'><i class="fas fa-pinterest-square"></i></div>
<div class='icon-button'><i class="fas fa-google-plus-square"></i></div>
<div class='icon-button'><i class="fas fa-google-plus"></i></div>
<div class='icon-button'><i class="fas fa-money"></i></div>
<div class='icon-button'><i class="fas fa-caret-down"></i></div>
<div class='icon-button'><i class="fas fa-caret-up"></i></div>
<div class='icon-button'><i class="fas fa-caret-left"></i></div>
<div class='icon-button'><i class="fas fa-caret-right"></i></div>
<div class='icon-button'><i class="fas fa-columns"></i></div>
<div class='icon-button'><i class="fas fa-sort"></i></div>
<div class='icon-button'><i class="fas fa-sort-desc"></i></div>
<div class='icon-button'><i class="fas fa-sort-asc"></i></div>
<div class='icon-button'><i class="fas fa-envelope"></i></div>
<div class='icon-button'><i class="fas fa-linkedin"></i></div>
<div class='icon-button'><i class="fas fa-undo"></i></div>
<div class='icon-button'><i class="fas fa-gavel"></i></div>
<div class='icon-button'><i class="fas fa-tachometer"></i></div>
<div class='icon-button'><i class="fas fa-comment"></i></div>
<div class='icon-button'><i class="fas fa-comments"></i></div>
<div class='icon-button'><i class="fas fa-bolt"></i></div>
<div class='icon-button'><i class="fas fa-sitemap"></i></div>
<div class='icon-button'><i class="fas fa-umbrella"></i></div>
<div class='icon-button'><i class="fas fa-clipboard"></i></div>
<div class='icon-button'><i class="fas fa-lightbulb"></i></div>
<div class='icon-button'><i class="fas fa-exchange"></i></div>
<div class='icon-button'><i class="fas fa-cloud-download"></i></div>
<div class='icon-button'><i class="fas fa-cloud-upload"></i></div>
<div class='icon-button'><i class="fas fa-user-md"></i></div>
<div class='icon-button'><i class="fas fa-stethoscope"></i></div>
<div class='icon-button'><i class="fas fa-suitcase"></i></div>
<div class='icon-button'><i class="fas fa-bell"></i></div>
<div class='icon-button'><i class="fas fa-coffee"></i></div>
<div class='icon-button'><i class="fas fa-cutlery"></i></div>
<div class='icon-button'><i class="fas fa-file-text"></i></div>
<div class='icon-button'><i class="fas fa-building"></i></div>
<div class='icon-button'><i class="fas fa-hospital"></i></div>
<div class='icon-button'><i class="fas fa-ambulance"></i></div>
<div class='icon-button'><i class="fas fa-medkit"></i></div>
<div class='icon-button'><i class="fas fa-fighter-jet"></i></div>
<div class='icon-button'><i class="fas fa-beer"></i></div>
<div class='icon-button'><i class="fas fa-h-square"></i></div>
<div class='icon-button'><i class="fas fa-plus-square"></i></div>
<div class='icon-button'><i class="fas fa-angle-double-left"></i></div>
<div class='icon-button'><i class="fas fa-angle-double-right"></i></div>
<div class='icon-button'><i class="fas fa-angle-double-up"></i></div>
<div class='icon-button'><i class="fas fa-angle-double-down"></i></div>
<div class='icon-button'><i class="fas fa-angle-left"></i></div>
<div class='icon-button'><i class="fas fa-angle-right"></i></div>
<div class='icon-button'><i class="fas fa-angle-up"></i></div>
<div class='icon-button'><i class="fas fa-angle-down"></i></div>
<div class='icon-button'><i class="fas fa-desktop"></i></div>
<div class='icon-button'><i class="fas fa-laptop"></i></div>
<div class='icon-button'><i class="fas fa-tablet"></i></div>
<div class='icon-button'><i class="fas fa-mobile"></i></div>
<div class='icon-button'><i class="fas fa-circle"></i></div>
<div class='icon-button'><i class="fas fa-quote-left"></i></div>
<div class='icon-button'><i class="fas fa-quote-right"></i></div>
<div class='icon-button'><i class="fas fa-spinner"></i></div>
<div class='icon-button'><i class="fas fa-circle"></i></div>
<div class='icon-button'><i class="fas fa-reply"></i></div>
<div class='icon-button'><i class="fas fa-github-alt"></i></div>
<div class='icon-button'><i class="fas fa-folder"></i></div>
<div class='icon-button'><i class="fas fa-folder-open"></i></div>
<div class='icon-button'><i class="fas fa-smile"></i></div>
<div class='icon-button'><i class="fas fa-frown"></i></div>
<div class='icon-button'><i class="fas fa-meh"></i></div>
<div class='icon-button'><i class="fas fa-gamepad"></i></div>
<div class='icon-button'><i class="fas fa-keyboard"></i></div>
<div class='icon-button'><i class="fas fa-flag"></i></div>
<div class='icon-button'><i class="fas fa-flag-checkered"></i></div>
<div class='icon-button'><i class="fas fa-terminal"></i></div>
<div class='icon-button'><i class="fas fa-code"></i></div>
<div class='icon-button'><i class="fas fa-reply-all"></i></div>
<div class='icon-button'><i class="fas fa-star-half"></i></div>
<div class='icon-button'><i class="fas fa-location-arrow"></i></div>
<div class='icon-button'><i class="fas fa-crop"></i></div>
<div class='icon-button'><i class="fas fa-code-fork"></i></div>
<div class='icon-button'><i class="fas fa-chain-broken"></i></div>
<div class='icon-button'><i class="fas fa-question"></i></div>
<div class='icon-button'><i class="fas fa-info"></i></div>
<div class='icon-button'><i class="fas fa-exclamation"></i></div>
<div class='icon-button'><i class="fas fa-superscript"></i></div>
<div class='icon-button'><i class="fas fa-subscript"></i></div>
<div class='icon-button'><i class="fas fa-eraser"></i></div>
<div class='icon-button'><i class="fas fa-puzzle-piece"></i></div>
<div class='icon-button'><i class="fas fa-microphone"></i></div>
<div class='icon-button'><i class="fas fa-microphone-slash"></i></div>
<div class='icon-button'><i class="fas fa-shield"></i></div>
<div class='icon-button'><i class="fas fa-calendar"></i></div>
<div class='icon-button'><i class="fas fa-fire-extinguisher"></i></div>
<div class='icon-button'><i class="fas fa-rocket"></i></div>
<div class='icon-button'><i class="fas fa-maxcdn"></i></div>
<div class='icon-button'><i class="fas fa-chevron-circle-left"></i></div>
<div class='icon-button'><i class="fas fa-chevron-circle-right"></i></div>
<div class='icon-button'><i class="fas fa-chevron-circle-up"></i></div>
<div class='icon-button'><i class="fas fa-chevron-circle-down"></i></div>
<div class='icon-button'><i class="fas fa-html5"></i></div>
<div class='icon-button'><i class="fas fa-css3"></i></div>
<div class='icon-button'><i class="fas fa-anchor"></i></div>
<div class='icon-button'><i class="fas fa-unlock-alt"></i></div>
<div class='icon-button'><i class="fas fa-bullseye"></i></div>
<div class='icon-button'><i class="fas fa-ellipsis-h"></i></div>
<div class='icon-button'><i class="fas fa-ellipsis-v"></i></div>
<div class='icon-button'><i class="fas fa-rss-square"></i></div>
<div class='icon-button'><i class="fas fa-play-circle"></i></div>
<div class='icon-button'><i class="fas fa-ticket"></i></div>
<div class='icon-button'><i class="fas fa-minus-square"></i></div>
<div class='icon-button'><i class="fas fa-minus-square"></i></div>
<div class='icon-button'><i class="fas fa-level-up"></i></div>
<div class='icon-button'><i class="fas fa-level-down"></i></div>
<div class='icon-button'><i class="fas fa-check-square"></i></div>
<div class='icon-button'><i class="fas fa-pencil-square"></i></div>
<div class='icon-button'><i class="fas fa-external-link-square"></i></div>
<div class='icon-button'><i class="fas fa-share-square"></i></div>
<div class='icon-button'><i class="fas fa-compass"></i></div>
<div class='icon-button'><i class="fas fa-caret-square-o-down"></i></div>
<div class='icon-button'><i class="fas fa-caret-square-o-up"></i></div>
<div class='icon-button'><i class="fas fa-caret-square-o-right"></i></div>
<div class='icon-button'><i class="fas fa-eur"></i></div>
<div class='icon-button'><i class="fas fa-gbp"></i></div>
<div class='icon-button'><i class="fas fa-usd"></i></div>
<div class='icon-button'><i class="fas fa-inr"></i></div>
<div class='icon-button'><i class="fas fa-jpy"></i></div>
<div class='icon-button'><i class="fas fa-rub"></i></div>
<div class='icon-button'><i class="fas fa-krw"></i></div>
<div class='icon-button'><i class="fas fa-btc"></i></div>
<div class='icon-button'><i class="fas fa-file"></i></div>
<div class='icon-button'><i class="fas fa-file-text"></i></div>
<div class='icon-button'><i class="fas fa-sort-alpha-asc"></i></div>
<div class='icon-button'><i class="fas fa-sort-alpha-desc"></i></div>
<div class='icon-button'><i class="fas fa-sort-amount-asc"></i></div>
<div class='icon-button'><i class="fas fa-sort-amount-desc"></i></div>
<div class='icon-button'><i class="fas fa-sort-numeric-asc"></i></div>
<div class='icon-button'><i class="fas fa-sort-numeric-desc"></i></div>
<div class='icon-button'><i class="fas fa-thumbs-up"></i></div>
<div class='icon-button'><i class="fas fa-thumbs-down"></i></div>
<div class='icon-button'><i class="fas fa-youtube-square"></i></div>
<div class='icon-button'><i class="fas fa-youtube"></i></div>
<div class='icon-button'><i class="fas fa-xing"></i></div>
<div class='icon-button'><i class="fas fa-xing-square"></i></div>
<div class='icon-button'><i class="fas fa-youtube-play"></i></div>
<div class='icon-button'><i class="fas fa-dropbox"></i></div>
<div class='icon-button'><i class="fas fa-stack-overflow"></i></div>
<div class='icon-button'><i class="fas fa-instagram"></i></div>
<div class='icon-button'><i class="fas fa-flickr"></i></div>
<div class='icon-button'><i class="fas fa-adn"></i></div>
<div class='icon-button'><i class="fas fa-bitbucket"></i></div>
<div class='icon-button'><i class="fas fa-bitbucket-square"></i></div>
<div class='icon-button'><i class="fas fa-tumblr"></i></div>
<div class='icon-button'><i class="fas fa-tumblr-square"></i></div>
<div class='icon-button'><i class="fas fa-long-arrow-down"></i></div>
<div class='icon-button'><i class="fas fa-long-arrow-up"></i></div>
<div class='icon-button'><i class="fas fa-long-arrow-left"></i></div>
<div class='icon-button'><i class="fas fa-long-arrow-right"></i></div>
<div class='icon-button'><i class="fas fa-apple"></i></div>
<div class='icon-button'><i class="fas fa-windows"></i></div>
<div class='icon-button'><i class="fas fa-android"></i></div>
<div class='icon-button'><i class="fas fa-linux"></i></div>
<div class='icon-button'><i class="fas fa-dribbble"></i></div>
<div class='icon-button'><i class="fas fa-skype"></i></div>
<div class='icon-button'><i class="fas fa-foursquare"></i></div>
<div class='icon-button'><i class="fas fa-trello"></i></div>
<div class='icon-button'><i class="fas fa-female"></i></div>
<div class='icon-button'><i class="fas fa-male"></i></div>
<div class='icon-button'><i class="fas fa-gittip"></i></div>
<div class='icon-button'><i class="fas fa-sun"></i></div>
<div class='icon-button'><i class="fas fa-moon"></i></div>
<div class='icon-button'><i class="fas fa-archive"></i></div>
<div class='icon-button'><i class="fas fa-bug"></i></div>
<div class='icon-button'><i class="fas fa-vk"></i></div>
<div class='icon-button'><i class="fas fa-weibo"></i></div>
<div class='icon-button'><i class="fas fa-renren"></i></div>
<div class='icon-button'><i class="fas fa-pagelines"></i></div>
<div class='icon-button'><i class="fas fa-stack-exchange"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-o-right"></i></div>
<div class='icon-button'><i class="fas fa-arrow-circle-o-left"></i></div>
<div class='icon-button'><i class="fas fa-caret-square-o-left"></i></div>
<div class='icon-button'><i class="fas fa-dot-circle"></i></div>
<div class='icon-button'><i class="fas fa-wheelchair"></i></div>
<div class='icon-button'><i class="fas fa-vimeo-square"></i></div>
<div class='icon-button'><i class="fas fa-try"></i></div>
<div class='icon-button'><i class="fas fa-plus-square"></i></div>
<div class='icon-button'><i class="fas fa-space-shuttle"></i></div>
<div class='icon-button'><i class="fas fa-slack"></i></div>
<div class='icon-button'><i class="fas fa-envelope-square"></i></div>
<div class='icon-button'><i class="fas fa-wordpress"></i></div>
<div class='icon-button'><i class="fas fa-openid"></i></div>
<div class='icon-button'><i class="fas fa-university"></i></div>
<div class='icon-button'><i class="fas fa-graduation-cap"></i></div>
<div class='icon-button'><i class="fas fa-yahoo"></i></div>
<div class='icon-button'><i class="fas fa-google"></i></div>
<div class='icon-button'><i class="fas fa-reddit"></i></div>
<div class='icon-button'><i class="fas fa-reddit-square"></i></div>
<div class='icon-button'><i class="fas fa-stumbleupon-circle"></i></div>
<div class='icon-button'><i class="fas fa-stumbleupon"></i></div>
<div class='icon-button'><i class="fas fa-delicious"></i></div>
<div class='icon-button'><i class="fas fa-digg"></i></div>
<div class='icon-button'><i class="fas fa-pied-piper"></i></div>
<div class='icon-button'><i class="fas fa-pied-piper-alt"></i></div>
<div class='icon-button'><i class="fas fa-drupal"></i></div>
<div class='icon-button'><i class="fas fa-joomla"></i></div>
<div class='icon-button'><i class="fas fa-language"></i></div>
<div class='icon-button'><i class="fas fa-fax"></i></div>
<div class='icon-button'><i class="fas fa-building"></i></div>
<div class='icon-button'><i class="fas fa-child"></i></div>
<div class='icon-button'><i class="fas fa-paw"></i></div>
<div class='icon-button'><i class="fas fa-spoon"></i></div>
<div class='icon-button'><i class="fas fa-cube"></i></div>
<div class='icon-button'><i class="fas fa-cubes"></i></div>
<div class='icon-button'><i class="fas fa-behance"></i></div>
<div class='icon-button'><i class="fas fa-behance-square"></i></div>
<div class='icon-button'><i class="fas fa-steam"></i></div>
<div class='icon-button'><i class="fas fa-steam-square"></i></div>
<div class='icon-button'><i class="fas fa-recycle"></i></div>
<div class='icon-button'><i class="fas fa-car"></i></div>
<div class='icon-button'><i class="fas fa-taxi"></i></div>
<div class='icon-button'><i class="fas fa-tree"></i></div>
<div class='icon-button'><i class="fas fa-spotify"></i></div>
<div class='icon-button'><i class="fas fa-deviantart"></i></div>
<div class='icon-button'><i class="fas fa-soundcloud"></i></div>
<div class='icon-button'><i class="fas fa-database"></i></div>
<div class='icon-button'><i class="fas fa-file-pdf"></i></div>
<div class='icon-button'><i class="fas fa-file-word"></i></div>
<div class='icon-button'><i class="fas fa-file-excel"></i></div>
<div class='icon-button'><i class="fas fa-file-powerpoint"></i></div>
<div class='icon-button'><i class="fas fa-file-image"></i></div>
<div class='icon-button'><i class="fas fa-file-archive"></i></div>
<div class='icon-button'><i class="fas fa-file-audio"></i></div>
<div class='icon-button'><i class="fas fa-file-video"></i></div>
<div class='icon-button'><i class="fas fa-file-code"></i></div>
<div class='icon-button'><i class="fas fa-vine"></i></div>
<div class='icon-button'><i class="fas fa-codepen"></i></div>
<div class='icon-button'><i class="fas fa-jsfiddle"></i></div>
<div class='icon-button'><i class="fas fa-life-ring"></i></div>
<div class='icon-button'><i class="fas fa-circle-o-notch"></i></div>
<div class='icon-button'><i class="fas fa-rebel"></i></div>
<div class='icon-button'><i class="fas fa-empire"></i></div>
<div class='icon-button'><i class="fas fa-git-square"></i></div>
<div class='icon-button'><i class="fas fa-git"></i></div>
<div class='icon-button'><i class="fas fa-hacker-news"></i></div>
<div class='icon-button'><i class="fas fa-tencent-weibo"></i></div>
<div class='icon-button'><i class="fas fa-qq"></i></div>
<div class='icon-button'><i class="fas fa-weixin"></i></div>
<div class='icon-button'><i class="fas fa-paper-plane"></i></div>
<div class='icon-button'><i class="fas fa-paper-plane"></i></div>
<div class='icon-button'><i class="fas fa-history"></i></div>
<div class='icon-button'><i class="fas fa-circle-thin"></i></div>
<div class='icon-button'><i class="fas fa-header"></i></div>
<div class='icon-button'><i class="fas fa-paragraph"></i></div>
<div class='icon-button'><i class="fas fa-sliders"></i></div>
<div class='icon-button'><i class="fas fa-share-alt"></i></div>
<div class='icon-button'><i class="fas fa-share-alt-square"></i></div>
<div class='icon-button'><i class="fas fa-bomb"></i></div>
<div class='icon-button'><i class="fas fa-futfol"></i></div>
<div class='icon-button'><i class="fas fa-tty"></i></div>
<div class='icon-button'><i class="fas fa-binoculars"></i></div>
<div class='icon-button'><i class="fas fa-plug"></i></div>
<div class='icon-button'><i class="fas fa-slideshare"></i></div>
<div class='icon-button'><i class="fas fa-twitch"></i></div>
<div class='icon-button'><i class="fas fa-yelp"></i></div>
<div class='icon-button'><i class="fas fa-newspaper"></i></div>
<div class='icon-button'><i class="fas fa-wifi"></i></div>
<div class='icon-button'><i class="fas fa-calculator"></i></div>
<div class='icon-button'><i class="fas fa-paypal"></i></div>
<div class='icon-button'><i class="fas fa-google-wallet"></i></div>
<div class='icon-button'><i class="fas fa-cc-visa"></i></div>
<div class='icon-button'><i class="fas fa-cc-mastercard"></i></div>
<div class='icon-button'><i class="fas fa-cc-discover"></i></div>
<div class='icon-button'><i class="fas fa-cc-amex"></i></div>
<div class='icon-button'><i class="fas fa-cc-paypal"></i></div>
<div class='icon-button'><i class="fas fa-cc-stripe"></i></div>
<div class='icon-button'><i class="fas fa-bell-slash"></i></div>
<div class='icon-button'><i class="fas fa-bell-slash"></i></div>
<div class='icon-button'><i class="fas fa-trash"></i></div>
<div class='icon-button'><i class="fas fa-copyright"></i></div>
<div class='icon-button'><i class="fas fa-at"></i></div>
<div class='icon-button'><i class="fas fa-eyedropper"></i></div>
<div class='icon-button'><i class="fas fa-paint-brush"></i></div>
<div class='icon-button'><i class="fas fa-birthday-cake"></i></div>
<div class='icon-button'><i class="fas fa-area-chart"></i></div>
<div class='icon-button'><i class="fas fa-pie-chart"></i></div>
<div class='icon-button'><i class="fas fa-line-chart"></i></div>
<div class='icon-button'><i class="fas fa-lastfm"></i></div>
<div class='icon-button'><i class="fas fa-lastfm-square"></i></div>
<div class='icon-button'><i class="fas fa-toggle-off"></i></div>
<div class='icon-button'><i class="fas fa-toggle-on"></i></div>
<div class='icon-button'><i class="fas fa-bicycle"></i></div>
<div class='icon-button'><i class="fas fa-bus"></i></div>
<div class='icon-button'><i class="fas fa-ioxhost"></i></div>
<div class='icon-button'><i class="fas fa-angellist"></i></div>
<div class='icon-button'><i class="fas fa-cc"></i></div>
<div class='icon-button'><i class="fas fa-ils"></i></div>
<div class='icon-button'><i class="fas fa-meanpath"></i></div>
      </div>
    </div>
  </div>
</div>

<div class="container_ mt-5 ">
    <div class="card">
      <div class="card-content darker">
        <div class="card mt-5 title_">
          <!-- <span class="red-bar"></span> -->
          <div class="card-content">
            <h1 class="title blancas">
              Grupo de materiales
            </h1>
            <h2 class="subtitle blancas">
              Descripción
            </h2>
          </div>
        </div>
        <br>
        <button class="button is-info" (click)="AgregarNuevo()">
          <span class="icon">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>Grupo</span>
        </button> 
        <button class="button is-success" (click)="NuevoMaterial()">
          <span class="icon">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>Material</span>
        </button> 
        <!-- <span class="icon" (click)="AgregarNuevo()"><i class="fas fa-plus-circle blue_"></i></span> -->
        <br><br>
        <ng-container *ngFor="let fila of [].constructor(filas());index as fila_i">
          <div class="columns">
            <div class="column" *ngFor="let tarjeta of [].constructor(5);index as i">
              <ng-container *ngIf="api.grupos[(5*fila_i)+i]">
                <div class="card animate__animated animate__fadeInUp">
                  <div class="card-header">
                    <div class="card-header-title">
                      <div class="subtitle">
                        <div class="columns">
                          <div class="column is-1">
                            <i class="{{api.grupos[(5*fila_i)+i].icono}}"></i>
                          </div>
                          <div class="column">
                            {{api.grupos[(5*fila_i)+i].nombre}} <i class="fas fa-glass-whiskey indicator animate__animated animate__flash" *ngIf="api.grupos[(5*fila_i)+i].parcial"></i>
                          </div>
                        </div>                    
                      </div>
                    </div>
                  </div>
                    <footer class="card-footer">
                      <a class="card-footer-item"><i class="fas fa-info-circle blue_" (click)="buscarMaterial((5*fila_i)+i)"></i></a>
                      <a class="card-footer-item"><i class="far fa-edit green" (click)="EditarGrupo(api.grupos[(5*fila_i)+i].nombre,api.grupos[(5*fila_i)+i].icono,api.grupos[(5*fila_i)+i].parcial,api.grupos[(5*fila_i)+i]._id )"></i></a>
                      <a class="card-footer-item"><i class="far fa-trash-alt red" (click)="eliminarGrupo(api.grupos[(5*fila_i)+i]._id)"></i></a>
                    </footer>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

      </div>
</div>