// .darker{
//     background-color: #08131b;
// }
.green{
    color: #48c78e;
}
.red{
    color: #f03a5f;
}
.title_{
    background: rgb(85,27,179);
    background: linear-gradient(90deg, rgba(85,27,179,1) 0%, rgba(138,69,250,1) 100%);
}
.icon{
    font-size: 20px;
}

.icono{
    background-color: rgb(38, 52, 61);;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.indicator{
    color: rgb(166, 194, 166);
}

.card .card-header{
    height: 50px;
}