<app-nuevo-modal
[nuevo]="nuevo"
[api]="api"
(onCloseModal)="nuevo = false">
</app-nuevo-modal>

<div class="container_ mt-5 ">
    <div class="card">
      <!-- <div class="card-header">
        <div class="card-header-title">
          <p class="title">
            Grupos
          </p>
        </div>
        <div class="card-header-icon">
          <button class="button is-info" (click)="AgregarNuevo()">
            <span class="icon"><i class="fas fa-plus-circle"></i></span>
            <span>Nuevo</span>
          </button>
        </div>
      </div> -->
      <div class="card-content darker">
        <div class="card mt-5 title_">
          <!-- <span class="red-bar"></span> -->
          <div class="card-content">
            <h1 class="title blancas">
              Grupo de materiales
            </h1>
            <h2 class="subtitle blancas">
              Descripción
            </h2>
          </div>
        </div>
        <br>
        <span class="icon" (click)="AgregarNuevo()"><i class="fas fa-plus-circle blue_"></i></span>
        <br><br>
        <ng-container  *ngFor="let grupo of api.grupos">
          <div class="card animate__animated animate__fadeInUp">
            <div class="card-header">
              <div class="card-header-title">
                <p class="subtitle">
                  <i class="{{grupo.icono}}"></i> {{grupo.nombre}}
                </p>
              </div>
              <div class="card-header-icon">
                <span class="icon"><i class="far fa-edit green"></i></span> 
                <!-- <button class="button is-success is-small">
                  <span class="icon"><i class="far fa-edit"></i></span>
                </button>  -->
                <span class="icon"><i class="far fa-trash-alt red"></i></span>
                <!-- <button class="button is-danger is-small">
                    <span class="icon"><i class="far fa-trash-alt"></i></span>
                </button> -->
              </div>
            </div>
            <div class="card-content">
              <ng-container *ngIf="grupo.parcial">
                Materiales de manera pacial
              </ng-container>
              <ng-container *ngIf="!grupo.parcial">
                Materiales entregados en envase completo
              </ng-container>
            </div>
          </div>
          <br>
        </ng-container>

      </div>
</div>