    <div class="background">
    </div>
    <div class="content">
        <div class="black-shadow">
            <div class="logo">
                <div class="sio">
                    <img src="../../assets/LOGO-SIO.png" alt="SIO">
                </div>
                <div class="poligrafica">
                    <img src="../../assets/" alt="Poligrafica Industrial C.A.">
                </div>
            </div>
        </div>
        <div class="form">
            <div class="shadow-banner">
                <div class="card_">
                    <div class="message">
                        <p class="bienvenido">Bienvenido!</p>
                    </div>
                    <br>
                    <div class="form-container">
                        <p class="input-container" id='login-i'>
                            <input type="text" class="login-input" id='input-username' onclick="test('login-i')" onchange="test2($event.target.value)">
                            <label for="input-username animation" unselectable='on'>Correo</label>
                        </p>
                        <p class="input-container" id='pass-i'>
                            <input type="password" class="login-input" id="input-password" onclick="test('pass-i')">
                            <label for="input-password" unselectable="on">Contraseña</label>
                        </p>
                    </div>
                    <span class="remember">
                        <input type="checkbox" name="Remember" id=""> Recuerdame
                    </span>
                    <br>
                    <span class="buttons">
                        <button class="Login">Ingresar</button>
                        <button class="Other_User">Otro Usuario</button>
                    </span>
                </div>
            </div>
        </div>
    </div>