<div class="modal" [ngClass]="{'is-active':material}">
    <div class="modal-background"></div>
    <div class="modal-card full">
        <div class="modal-card-head">
            <p class="modal-card-title fuente">
                grupo
            </p>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body light">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Marca</th>
                        <th>Serie</th>
                        <th>Gramaje</th>
                        <th>Calibre</th>
                        <th>Presentación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Berlín)</td>
                        <td>Serie</td>
                        <td>300</td>
                        <td>16</td>
                        <td>Paleta</td>
                    </tr>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Berlín)</td>
                        <td>Serie</td>
                        <td>300</td>
                        <td>16</td>
                        <td>Paleta</td>
                    </tr>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Berlín)</td>
                        <td>Serie</td>
                        <td>300</td>
                        <td>16</td>
                        <td>Paleta</td>
                    </tr>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Berlín)</td>
                        <td>Serie</td>
                        <td>300</td>
                        <td>16</td>
                        <td>Paleta</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>