<div class="modal" [ngClass]="{'is-active':material}">
    <div class="modal-background"></div>
    <div class="modal-card full">
        <div class="modal-card-head">
            <p class="modal-card-title fuente">
                grupo
            </p>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body light" *ngIf="material_selected.length > 0">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Marca</th>
                        <th>Serie</th>
                        <th *ngIf="material_selected[0].gramaje">Gramaje</th>
                        <th *ngIf="material_selected[0].gramaje">Calibre</th>
                        <th *ngIf="material_selected[0].color">Color</th>
                        <th></th>
                        <!-- <th>Presentación</th> -->
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="material_selected.length > 0">
                        <tr *ngFor="let material of material_selected;index as i">
                            <td>
                                {{material.nombre}}
                                <span id="nombre_{{i}}" style="display: none;">
                                    <input type="text" class="input" [(ngModel)]="material.nombre">
                                </span>
                            </td>
                            <td>
                                {{material.fabricante.alias}}
                                <ng-container *ngIf="material.origen">
                                    ({{material.origen}})
                                </ng-container>
                            </td>
                            <td>
                                {{material.serie}}
                                <span id="serie_{{i}}" style="display: none;">
                                    <input type="text" class="input" [(ngModel)]="material.serie">
                                </span>
                            </td>
                            <td *ngIf="material.gramaje">
                                {{material.gramaje}}
                                <span id="gramaje_{{i}}" style="display: none;">   
                                    <input type="text" class="input" [(ngModel)]="material.gramaje">
                                </span>
                            </td>
                            <td *ngIf="material.gramaje">
                                {{material.calibre}}
                                <span id="calibre_{{i}}" style="display: none;">
                                    <input type="text" class="input" [(ngModel)]="material.calibre">
                                </span>
                            </td>
                            <td *ngIf="material.color && colores(material.color)">{{colores(material.color)}}</td>
                            <td *ngIf="material.color && !colores(material.color)">{{material.codigo}}</td>
                            <td>
                                <span id="editar_{{i}}">
                                    <i class="far fa-edit green" (click)="editar(i)"></i> 
                                    <i class="far fa-trash-alt red"></i>
                                </span>
                                <span id="confirmar_{{i}}" style="display: none;">
                                    <i class="fas fa-check green" (click)="confirmar(i)"></i> 
                                </span>
                            </td>
                            <!-- <td>Paleta</td> -->
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="material_selected.length < 1">
                        Aun no hay materiales
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>