.menu__{
    display: block;
    position: absolute;
    height: 100%;
    width: 350px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 9px -4px rgba(0,0,0,0.75);
    padding: 30px;
}

.close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: gray;
}

.menu_{
    cursor: pointer;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.down{
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.red{
    background-color: red;
}