<div class="menu__ animate__animated animate__fadeInLeftBig" id='menu'>
    <img src="../../../assets/LOGO-SIO.png" width="100" height="20" id="logo_menu">
    <hr>
    <aside class="menu">
        <p class="menu-label">
            Materiales
        </p>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':router.url == '/'}" routerLink="/">Grupos</a></li>
                <li><a [ngClass]="{'is-active':router.url == '/fabricantes'}" routerLink="/fabricantes">Fabricantes</a></li>
                <li><a [ngClass]="{'is-active':router.url == '/proveedores'}" routerLink="/proveedores">Proveedores</a></li>
            </ul>
        <p class="menu-label">
            Ordenes
        </p>
            <ul class="menu-list">
                <li>
                    <a>Ordenes de producción</a>
                    <ul>
                        <li><a>Generar</a></li>
                        <li><a>Consultar</a></li>
                    </ul>
                </li>
            </ul>
    </aside>


</div>
