.menu__{
    display: block;
    position: fixed;
    height: 100%;
    width: 15%;
    // background-color: rgb(55, 75, 90);
    background-color: rgb(38, 52, 61);
    backdrop-filter: blur(10px);
    z-index: 1;
//     box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
// -webkit-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
// -moz-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 30px;
    color:#9fadbc;
    top:0px
}

.close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: gray;
}

.menu_{
    cursor: pointer;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.down{
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.red{
    background-color: red;
}

#logo_menu{
    margin-left: 20%;
}