.titles{
    display: block;
    width: 100%;
    height: 30px;
    background: rgb(38,52,61);
    background: linear-gradient(90deg, rgba(38,52,61,1) 0%, rgba(87,132,162,1) 100%);
    padding: 5px;
    color: white;
}