<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <span class="titles">
                Análisis cualitativo (Draw Down)
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Tono</th>
                    <th>Transparecias/opacidad</th>
                    <th>Viscosidad</th>
                    <th>Secado capa fina (1-3 horas)</th>
                    <th>Secado capa gruesa (24 horas)</th>
                    <th>Brillo</th>
                </tr>
                <tr>
                    <td><input type="checkbox"> Cumple</td>
                    <td><input type="checkbox"> Cumple</td>
                    <td><input type="checkbox"> Cumple</td>
                    <td><input type="checkbox"> Cumple</td>
                    <td><input type="checkbox"> Cumple</td>
                    <td><input type="checkbox"> Cumple</td>
                </tr>
            </table>
            <hr>
            <span class="titles">
                Análisis cuantitativo (Draw Down)
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Realizado Sobre:</th>
                    <th>tipo</th>
                    <th>Sustrato de muestra:</th>
                </tr>
                <tr>
                    <td>
                        <fieldset>
                            <input type="radio" value="Carton" name="Tipo"> Cartón <br>
                            <input type="radio" value="Papel" name="Tipo"> Papel <br>
                            <input type="radio" value="Ambos" name="Tipo"> Cartón y Papel<br>
                        </fieldset>
                    </td>
                    <td>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label for="" class="label">Gramaje:</label>
                                    <div class="field">
                                        <input type="text" class="input" placeholder="Gramaje">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label for="" class="label">Calibre:</label>
                                    <div class="field">
                                        <input type="text" class="input" placeholder="Calibre">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <fieldset>
                            <input type="radio" name="muestra"> Papel <br>
                            <input type="radio" name="muestra"> Carón <br>
                            <input type="radio" name="muestra"> Metalizado
                        </fieldset>
                    </td>
                </tr>
            </table>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                  <li class="is-active"><a href="#">Cartón</a></li>
                  <li><a href="#">Papel</a></li>
                  <li><a href="#">Muestra</a></li>
                  </ul>
             </nav>
            <span class="titles">
                Muestra #1
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Estándar</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Muestra</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆E*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <span class="titles">
                Muestra #2
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Estándar</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Muestra</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆E*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <span class="titles">
                Muestra #3
            </span>
            <table class="table is-fullwidth">
                <tr>
                    <th>Estándar</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Muestra</th>
                    <td>
                        <div class="field">
                            <label for="" class="label">L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆L*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆a*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆b*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <label for="" class="label">∆E*</label>
                            <div class="control">
                                <input type="text" class="input">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>