<app-inventario
[Inventario]="Inventario"
[listado]="listado"
[General]="Generales"
[ByLotes]="ByLotes"
(onCloseModal)="Inventario = false"
>

</app-inventario>
<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                  <h1 class="title blancas">
                   Almacén de materiales
                  </h1>
                  <h2 class="subtitle description blancas">
                    Descripción
                  </h2>
                  <div class="iconos">
                    <i class="fas fa-box-open"></i>
                  </div>
                </div>
            </div>
            <br>
            <ng-container *ngFor="let fila of [].constructor(filas());index as fila_i">
                <div class="columns">
                  <div class="column" *ngFor="let tarjeta of [].constructor(5);index as i">
                    <ng-container *ngIf="grupos.grupos[(5*fila_i)+i]">
                        <div class="card animate__animated animate__fadeInUp grupos" (click)="detallar(grupos.grupos[(5*fila_i)+i]._id)">
                            <div class="card-content">
                              <div class="columns">
                                <div class="column is-half blue_">
                                    <i class="{{grupos.grupos[(5*fila_i)+i].icono}}" *ngIf="grupos.grupos[(5*fila_i)+i].icono"></i>
                                    <i class="fas fa-paperclip" *ngIf="!grupos.grupos[(5*fila_i)+i].icono"></i>
                                </div>
                                <div class="column is-half">
                                  <p>{{grupos.grupos[(5*fila_i)+i].nombre}} <i class="fas fa-glass-whiskey indicator animate__animated animate__flash" *ngIf="grupos.grupos[(5*fila_i)+i].parcial"></i></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
        </div>
    </div>
</div>