<div class="modal" [ngClass]="{'is-active':detalle}">
    <div class="modal-background"></div>
    <div class="modal-card long animate__animated animate__fadeInUp">
        <div class="modal-card-head">
            <div class="modal-card-title fuente">
                Detalles
            </div>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Marca</th>
                        <th>Fabricación</th>
                        <th>Lote</th>
                        <th>Capacidad</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Mùnich)</td>
                        <td><input type="date" value="26-10-2023" class="input" disabled></td>
                        <td><input type="text" value='142596' class="input" disabled></td>
                        <td><input type="text" value='20' class="input" disabled></td>
                        <td><input type="text" value='451298' class="input" disabled></td>
                    </tr>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Mùnich)</td>
                        <td><input type="date" value="26-10-2023" class="input" disabled></td>
                        <td><input type="text" value='142596' class="input" disabled></td>
                        <td><input type="text" value='20' class="input" disabled></td>
                        <td><input type="text" value='451298' class="input" disabled></td>
                    </tr>
                    <tr>
                        <td>Cartón Rev. Gris</td>
                        <td>MCM (Alemania, Mùnich)</td>
                        <td><input type="date" value="26-10-2023" class="input" disabled></td>
                        <td><input type="text" value='142596' class="input" disabled></td>
                        <td><input type="text" value='20' class="input" disabled></td>
                        <td><input type="text" value='451298' class="input" disabled></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>