<app-nuevo-proveedor
[nuevo]="nuevo"
[api]="api"
(onCloseModal)="cerrar()"
>

</app-nuevo-proveedor>
<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                  <h1 class="title blancas title_">
                    Proveedores
                  </h1>
                  <h2 class="subtitle description blancas">
                    Descripción
                  </h2>
                </div>
            </div>
            <br>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content blue" (click)="addnuevo()">
                            <span class="agregar">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card animate__animated animate__fadeInUp">
                    <div class="card-header">
                        <div class="card-header-title titulos">
                            <p class="subtitle">
                                Fabrica de Tinta Olìn C.A. (Olìn)
                            </p>
                        </div>
                    </div>
                    <footer class="card-header">
                        <span class="icon card-header-title">
                            <i class="fas fa-info-circle blue_"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-edit green"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-trash-alt red"></i>
                        </span>
                    </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card animate__animated animate__fadeInUp">
                    <div class="card-header">
                        <div class="card-header-title titulos">
                            <p class="subtitle">
                                Fabrica de Tinta Olìn C.A. (Olìn)
                            </p>
                        </div>
                    </div>
                    <footer class="card-header">
                        <span class="icon card-header-title">
                            <i class="fas fa-info-circle blue_"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-edit green"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-trash-alt red"></i>
                        </span>
                    </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card animate__animated animate__fadeInUp">
                    <div class="card-header">
                        <div class="card-header-title titulos">
                            <p class="subtitle">
                                Fabrica de Tinta Olìn C.A. (Olìn)
                            </p>
                        </div>
                    </div>
                    <footer class="card-header">
                        <span class="icon card-header-title">
                            <i class="fas fa-info-circle blue_"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-edit green"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-trash-alt red"></i>
                        </span>
                    </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card animate__animated animate__fadeInUp">
                    <div class="card-header">
                        <div class="card-header-title titulos">
                            <p class="subtitle">
                                Fabrica de Tinta Olìn C.A. (Olìn)
                            </p>
                        </div>
                    </div>
                    <footer class="card-header">
                        <span class="icon card-header-title">
                            <i class="fas fa-info-circle blue_"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-edit green"></i>
                        </span>
                        <span class="icon card-header-title">
                            <i class="far fa-trash-alt red"></i>
                        </span>
                    </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>