<div class="modal" [ngClass]="{'is-active':NUEVA_ESPECIFICACION || Edicion}">
    <div class="modal-background"></div>
    <div class="modal-card animate__animated animate__fadeInUp">
        <div class="modal-card-head">
            <p class="modal-card-title fuente">
                Grupo
            </p>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body">
            <div class="columns" *ngIf="!Edicion">
                <div class="column is-3">
                    <div class="field">
                        <label for="" class="label">Material:</label>
                        <div class="control">
                            <div class="select">
                                <select name="" id="" [(ngModel)]="Material_selected">
                                    <option value="#">Selecciona un material</option>
                                    <option value="{{i}}" *ngFor="let material of Materiales;index as i">{{material.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table class="table is-fullwidth is-striped" *ngIf="Material_selected != '#' || Edicion">
                <tbody>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Viscosidad</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Min:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.viscosidad.min">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="" value="" class="input is-small" [(ngModel)]="Editable.viscosidad.min">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Max:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.viscosidad.max">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="viscosidadMax" class="input is-small" [(ngModel)]="Editable.viscosidad.max">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns">
                                        <div class="column">
                                            und / cond:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="EspecificacionTinta.viscosidad.con">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="text" name="ViscocidadCon" class="input is-small" [(ngModel)]="Editable.viscosidad.con">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Rígidez</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Min:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.rigidez.min">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="RigidezMIn" class="input is-small" [(ngModel)]="Editable.rigidez.min">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Max:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.rigidez.max">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="RigidezMax" class="input is-small" [(ngModel)]="Editable.rigidez.max">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns">
                                        <div class="column">
                                            und / cond:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="EspecificacionTinta.rigidez.con">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                           <input type="text" name="RigidezCOn" class="input is-small" [(ngModel)]="Editable.rigidez.con">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Inko o Tack</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Min:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.tack.min">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="TAckMIn" class="input is-small" [(ngModel)]="Editable.tack.min">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Max:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.tack.max">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" name="TackMAx" class="input is-small" [(ngModel)]="Editable.tack.max">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns">
                                        <div class="column">
                                            und / cond:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="EspecificacionTinta.tack.con">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="text" name="TackCon" class="input is-small" [(ngModel)]="Editable.tack.con">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Dispersión o Finura</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Min:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.finura.min">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="Editable.finura.min">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Max:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.finura.max">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="Editable.finura.max">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns">
                                        <div class="column">
                                            und / cond:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="EspecificacionTinta.finura.con">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="Editable.finura.con">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Secado en capas finas</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="columns">
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Min:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.secado.min">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="Editable.secado.min">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="columns">
                                        <div class="column is-3">
                                            Max:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="EspecificacionTinta.secado.max">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="number" class="input is-small" [(ngModel)]="Editable.secado.max">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-5">
                                    <div class="columns">
                                        <div class="column">
                                            und / cond:
                                        </div>
                                        <div class="column" *ngIf="!Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="EspecificacionTinta.secado.con">
                                        </div>
                                        <div class="column" *ngIf="Edicion">
                                            <input type="text" class="input is-small" [(ngModel)]="Editable.secado.con">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <button class="button is-success" (click)="guardar()" *ngIf="!Editable">
                <span class="icon"><i class="fas fa-save"></i></span>
                <span>Guardar</span>
            </button>
            <button class="button is-success" *ngIf="Editable" (click)="Editar_()">
                <span class="icon"></span>
                 <span>Editar</span>
            </button>
        </div>
    </div>
</div>
