.added{
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    background-color: aqua;
}

.modal .modal-card .bg{
    background-color:rgb(38, 52, 61);
    color: white;
}

.modal .modal-card strong{
    color: white;
}

table tr td{
    background-color: rgb(38, 52, 61);
    color: white;
}

.red{
    cursor: pointer;
}